// Navigation code here

.home {

  .intro {
    
    nav {
      .custom-layout(center, center);
    }

    nav a {
      margin: 2rem;
      text-decoration-line: none;
      font-size: 1.6rem;
      color: @nav-font;
    }
  }
}